* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  .container {
    width: 100%;
  }
  
  header {
    margin: 4rem;
    text-align: center;
  }
  .flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
    text-align: center;
  }
  .flex h2 {
    margin-bottom: 2rem;
  }
  .flex p {
    line-height: 1.5rem;
  }
  .img {
    text-align: center;
    margin-bottom: 2rem;
  }
  .button {
    background-color: #6f6cd9;
    border: none;
    color: white;
    padding: 1rem 7rem;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }
  .btn {
    text-align: center;
  }
  
  @media (min-width: 1000px) {
    body{
        overflow: hidden;
    }
      .container {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      height: 100vh;
    }
    .left-side .board-pic {
      width: 500px;
      margin-right: 4rem;
    }
    .right-side {
      width: 100%;
      padding-top: 7rem;
      margin-left: 3rem;
      background-color: #ffd401;
    }
    .right-side h2 {
        font-size: 2rem;
    }
    .para {
      font-size: 2rem;
      margin: 3rem;
    }
    .para p {
      padding: 1rem;
    }
    .button{
        background-color: #ff716f;
        color: black;
    }
  }
  